body{
    margin: auto;
    padding: 0;
    height: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-color: white;
}


nav{
    overflow: hidden;
    width: 100%;
    background: rgba(255, 109, 27, 1);
    position: fixed;
    top: 0;
    height: 60px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 2px 4px 0 rgb(0, 0, 0, .2);
}

nav .logo{
    font-size: 1rem;
    width: 30%;
    left: -35px;
    position: relative;
    top: -18px;
}

nav .logo img{
    padding-top: 20px;
    width: 150px;
}

nav li{
    display: inline;
}

nav a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 20px;
    font-weight: bold;
    transition: 0.15s;
}

nav ul li a{
    height: 23px;
    padding-top: 4px;
}
nav ul li a:hover{
    background-color: rgba(217, 217, 217, 1);
    border-radius: 10px;
}


#nav-button{
    display: none;
}

label{
    display: none;
}

nav ul{
    margin-top: 21px;
}

nav ul ul{
    display: none;
    position: absolute;
    margin-top: 25px;
    margin-left: 285px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 300px;
  position: relative;
  margin-top: 450px;
  margin-left: 110px;
}

/* Hide the images by default */
.mySlides {
  display:none;
}

/* Next & previous buttons */
.prevnext{
    margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  margin-left: -20px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: -20px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.momdot{
    margin-left: 150px;
    margin-top: -20px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.selamat{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    padding-top: 60px;
    padding-left: 100px;
    list-style: none;
    font-weight: bold;
}

.linkterkait{
    margin-top: -250px;
    padding-left: 0;
}


.fiturlogin{
    margin-top: 80px;
    margin-left: 40px;
    margin-bottom: -380px;
}

.fiturlogin li{
    border-style:solid;
    border-color: white;
    text-align: center;
    list-style: none;
    display: inline;
    padding: 15px;
    padding-top: 25px;
    border-radius: 10px;
    margin: 20px;
}

.fiturlogin li:hover{
    background-color: white;
}

.fiturlogin a{
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.fiturlogin a:hover{
    color: black;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    transition: opacity 200ms ease-in;
    pointer-events: none;
}
.modalDialog:target {opacity:1; pointer-events: auto;}
.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: linear-gradient(#fff, #aaa);
}
.close:hover { background:#00d9ff; }
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    text-align: center;
    top: -10px;
    right: -12px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 1px 1px 3px #000;
}
 
input[type=text], input[type=password] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}
button {
background-color: #4CAF50;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
}
span.psw {
float: right;
}


/* responsive */

@media screen and (max-width: 736px) {

    body{
        background-size: 10000000px;
    }


    nav{
        align-items: center;
    }

    nav .logo{
        width: 30%;
        position: absolute;
        left: 0px;
    }

    nav .logo img{
        padding-top: 20px;
    }

    nav ul{
        position: fixed;
        top: 44px;
        width: 100%;
        background: rgb(252, 124, 50);
        max-height: 0;
        overflow: hidden;
    }

    nav li{
        display: block;
        width: 100%;
        padding: 5px;
    }

    nav a{
        width: 100%;
        display: block;
    }

    nav a:hover{
        background: darkcyan;
    }

    label{
        display: block;
        padding: 0px 10px;
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        right: 2%;
    }

    label:hover{
        color: white;
    }

    nav #nav-button:checked~ul{
        max-height: 100%;
        transition: all is ease-out;
    }

    .selamat{
        font-size: 25px;
        margin-left: -95px;
        text-align: center
    }

    .fiturlogin{
        margin: auto;
        margin-right: 40px;
        margin-bottom: -350px;
    }

    .slideshow-container{
        margin: auto;
        margin-top: 470px;
        width: auto;
    }

    .momdot{
        margin: auto;
    }

    .fiturlogin li{
        display: block;
        width: auto;
        height: 60px;
        padding-top: 0px !important;
        margin-top: 0px;
    }

    .fiturlogin ul{
        padding-top: 20px;
    }

}